<%= render "common/page_title", title: "Boosts" %>

<div class="actions">
  <%= render "govuk_publishing_components/components/button", {
    text: "New boost",
    href: new_boost_path,
    inline_layout: true
  } %>
</div>

<div class="govuk-!-margin-top-6 app-table__container" data-module="filterable-table">
  <% if @boosts.any? %>
    <%= render "govuk_publishing_components/components/table", {
      filterable: true,
      label: "Filter boosts",
      head: [
        { text: Boost.human_attribute_name(:name) },
        { text: "Status" },
      ],
      rows: @boosts.map do |boost|
        [
          { text: link_to(boost.name, boost_path(boost), class:'govuk-link') },
          { text: boost_status_tag(boost) },
        ]
      end
    } %>
  <% else %>
    <p class="govuk-body">No boosts have been set up yet.</p>
  <% end %>
</div>
