<ol class="breadcrumb">
  <li class="active">Similar search results</li>
</ol>

<%= page_title 'Similar search results' %>

<%= render 'form', base_path: base_path %>

<% if results.present? %>
  <%= render 'results', results: results %>
<% end %>
