<ol class="breadcrumb">
  <li><%= link_to 'External links', recommended_links_path %></li>
  <li><%= link_to @recommended_link.title, recommended_link_path(@recommended_link) %></li>
  <li class="active">Edit</li>
</ol>

<%= page_title @recommended_link.title %>

<%= render 'form', recommended_link: @recommended_link %>
