<%= render "common/page_title", title: t(".page_title") %>

<div class="actions">
  <%= render "govuk_publishing_components/components/button", {
    text: t("common.buttons.new", model_name: t_model_name),
    href: new_recommended_link_path,
    inline_layout: true
  } %>
  <%= render "govuk_publishing_components/components/button", {
    text: t("common.buttons.download_csv"),
    href: recommended_links_path(format: 'csv'),
    secondary_quiet: true,
    inline_layout: true
  } %>
</div>

<div class="govuk-!-margin-top-6 app-table__container" data-module="filterable-table">
  <div class="external-links">
    <%= render "govuk_publishing_components/components/table", {
      filterable: true,
      label: t(".filter_table_label"),
      head: [
        { text: t_model_attr(:title) },
        { text: t_model_attr(:link) },
        { text: t_model_attr(:description) },
        { text: t_model_attr(:keywords) },
      ],
      rows: @recommended_links.map do |recommended_link|
        [
          { text: link_to(recommended_link.title, recommended_link_path(recommended_link), class:'govuk-link') },
          { text: link_to(recommended_link.link, recommended_link.link, class:'govuk-link') },
          { text: recommended_link.description },
          { text: recommended_link.keywords },
        ]
      end
    } %>
  </div>
</div>
