<ol class="breadcrumb">
  <li><%= link_to 'External links', recommended_links_path %></li>
  <li class="active">New external link</li>
</ol>

<%= page_title 'New external link' %>

<%= render 'form', recommended_link: @recommended_link %>
