---
:concurrency: 2
:schedule:
  expired_bet_worker:
    every: '1h'
    class: ExpiredBetWorker
  delete_old_bets_worker:
    cron: '0 0 1 * * Europe/London'
    class: DeleteOldBetsWorker
  notify_expiring_bets_worker:
    cron: '0 7 * * * Europe/London'
    class: NotifyExpiringBetsWorker
