table.queries-list {
  @extend .table;
  @extend .table-striped;
  @extend .table-bordered;

  width: 100%;
  ol {
    list-style: none;
    padding: 0;
  }
}

.collection-actions {
  margin-bottom: 20px;
}

.resource-actions {
  form, form > div {
    display: inline;
  }
}
