<%= form_for(query) do |f| %>
  <div class="form-group">
    <%= f.text_field :query, class: "form-control input-lg" %>
  </div>

  <div class="form-group">
    <%= f.select :match_type, Query::MATCH_TYPES.map { |t| [t.humanize, t] }, class: "form-control input-lg" %>
  </div>

  <%= f.button "Save", class: "btn btn-success btn-lg" %>
<% end %>
