<% if query.sorted_best_bets.any? %>
  <ol class="govuk-list">
    <% query.sorted_best_bets.each do |bet| %>
      <li>
        <%= link_to bet.link, edit_bet_path(bet), class:"govuk-link" %>
        <% if bet.comment.present? %>
          <small class='comment'>
            <%= bet.comment %>
          </small>
        <% end %>
      </li>
    <% end %>
  </ol>
<% end %>

<% if query.worst_bets.any? %>
  <ol class="govuk-list">
    <strong>Worst bets</strong>
    <% query.worst_bets.each do |bet| %>
      <li><i class="app-symbol app-symbol--minus">&minus;</i><%= link_to bet.link, edit_bet_path(bet), class:"govuk-link" %></li>
    <% end %>
  </ol>
<% end %>