<table>
  <tr>
    <th>Query</th>
    <th>Match</th>
  </tr>
  <% @queries.each do |query| %>
    <tr class="query">
      <td><%= link_to query.query, query_path(query) %></td>
      <td><%= link_to query.match_type, query_path(query) %></td>
    </tr>
  <% end %>
</table>
