@import "govuk_publishing_components/all_components";

.actions {
  margin-bottom: govuk-spacing(6);
}

// delete button is wrapped in a form and we wan't it to be
// inline with the other button
.app-display-inline {
  display: inline-block;
  width: auto;
  vertical-align: top;
}

// Display filter expressions with less large font size
.app-filter-expression {
  font-size: 16px;
}
