nav.primary-navigation {
  @extend .navbar;
  @extend .navbar-inverse;
  @extend .navbar-static-top;

  .application-title {
    @extend .navbar-header;

    a {
      @extend .navbar-brand;

      background: transparent url('header-crown.png') no-repeat left 12px;
      color: #fff;
      padding: 16px 0 0 45px;
    }
  }

  .current-user {
    @extend .nav;
    @extend .navbar-nav;
    @extend .navbar-right;
  }
}

header {
  @extend .page-header;
  margin: 0 0 20px;

  h1 {
    margin: 10px 0;
  }
}
